<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Schedule_Form.Properties.Settings.ARFMS_DB" connectionString="Data Source=LEBRON\SQLEXPRESS;Initial Catalog=ARFMS_DB;Integrated Security=True" />
    </connectionStrings>
</configuration>