<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\hanli\OneDrive\Desktop\IOOP Projects\zhishengchong\IOOP-Assignment\Manager\Manager\IOOP Assignment.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>